:root {
    --alternative-color: #2196f3;
    --nav-heder-color: #2196f3;
    --footer-color: #2f303a;
    --hero-color: #2f303a;
    --text-title-color: #212121;
    --text-color: #757575;
    --primary-white-color: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-white-color)
    color: var(--text-title-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

/*------------------------ header------------------------------*/
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--alternative-color);
}
.color {
    color: var(--text-title-color);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
}

.adress-link {
    color: var(--text-color);
}

.header-link:hover,
.header-link:focus,
.adress-link:hover,
.adress-link:focus
 {
    color: var(--nav-heder-color);
}

.current {
    color: var(--nav-heder-color);
}

/* -----------------------hero------------------------------ */

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color)
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    background-color: var(--alternative-color);
    color: var(--primary-white-color)
    cursor: pointer;
}
.pointer {
    background-color: var(--alternative-color);
    color: var(--primary-white-color)
}

.pointer:hover,
.pointer:focus {
    background-color: #188ce8;
    color:var(--primary-white-color)
}

/* -----------------------main------------------------------ */

.main-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.main-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--text-title-color);
    text-transform: var(--text-color);
}

.main-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/* -----------------------box------------------------------ */

.box-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-title-color);
}

/* -----------------------about------------------------------ */

.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--text-title-color);
}

.about-text {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--text-title-color);
}

.about-subtitle {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/* -----------------------footer------------------------------ */

.footer-logo {
    font-family: inherit;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
}

.color-two {
    color: #ffffff;
}

.footer-adress,
.footer-contact {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}

.footer-contact {
    color: rgba(255, 255, 255, 0.6);
}

.footer-adress:hover,
.footer-adress:focus,
.footer-contact:hover,
.footer-contact:focus {
    color: var(--nav-heder-color);
}

/* -----------------------portfolio button------------------------------ */

.content-box {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.button-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #f5f4fa;
    cursor: pointer;
}

.button-item:hover,
.button-item:focus {
    color: #ffffff;
    background: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current-button {
    color: var(--primary-white-color);
    background: var(--nav-heder-color);
}

/* -----------------------portfolio content------------------------------ */

.content-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-title-color);
}

.content-subtitle {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
